{{define "topic/index"}}

{{template "header"}}
    <div class="bg-white topic">
        <ul class="nav nav-pills float-left">
            {{range .categories}}
            <li class="nav-item">
                <a class="nav-link" href="">{{.Name}}</a>
            </li>
            {{end}}
        </ul>
        <a href="/topic/create" class="btn btn-success float-right">Create</a>
        <div class="clearfix mb30"></div>
    </div>
    <ul class="list-group">
        {{range .topics}}
            <li class="list-group-item"><a href="/topic?id={{.Id}}">{{.Title}}</a></li>
        {{end}}
    </ul>
    {{.page | html}}

{{template "footer"}}
{{end}}